application:
  port: 8001
  name: assetio

logger:
  level:
  encoding:
    method:
    caller:
  path:
  errPath:

cipher:
  cryptoKey: qf0ac7131xktkut8
  
middleware:
  authorization:
    enabled: true
    token: c713-kut8-1xkt-qf0a

api:
  accountCreate:
    enabled: true
    route: /account/create
    method: GET
  accountAll:
    enabled: true
    route: /account/all
    method: GET
  accountGet:
    enabled: true
    route: /account/get
    method: GET
  accountUpdate:
    enabled: true
    route: /account/update
    method: GET
  accountActivate:
    enabled: true
    route: /account/activate
    method: GET
  accountInactivate:
    enabled: true
    route: /account/inactivate
    method: GET

store:
  database:
    host: #encrypted value
    port:  #encrypted value
    username:  #encrypted value
    password:  #encrypted value
    name: test
    prefix: pm_
  cache:
    heap:
      enabled: true
      max_capacity: 2000
      expiry: 3600