application:
  port: 8001
  name: assetio

accessLog:
  level: 5
  encoding:
    method: 1
    caller: false
  path:  logs\access\access.log

appLog:
  level: 5
  encoding:
    method: 1
    caller: true
  path:  logs\app\app.log

cipher:
  cryptoKey: qf0ac7131xktkut8

middleware:
  keys:
    - "mhkwuhcL30tq6IuErPfKgRi86BfcRC8vtdQvJa5ILqrDmC2JdNlGlYs05w2KWcyd"
    - "f97bTqnEWXcSKQ4wtMwFf2vDCdUjnCrZDS6voQNZbf5s0a18j8uOWuS41Uwj6Jhv"
    - "bLiaBYhfYGr1ZXp6VfIEeaipGXWFAqxtw7LgaYaDcNMmHyz73BBnxMgK78YcfpUp"
    - "qIAJeZ7qzrUZ2CjsR2vvmhfnDOz8hMnKH2BwlpvCHkmc7TP0poxeqrCmU8ZV7q9q"

api:
  api:
  accountCreate:
    enabled: true
    route: /account/create
    method: GET
  accountAll:
    enabled: true
    route: /account/all
    method: GET
  accountGet:
    enabled: true
    route: /account/get
    method: GET
  accountUpdate:
    enabled: true
    route: /account/update
    method: GET
  accountActivate:
    enabled: true
    route: /account/activate
    method: GET
  accountInactivate:
    enabled: true
    route: /account/inactivate
    method: GET
  securityCreate:
    enabled: true
    route: /security/create
    method: GET
  securityUpdate:
    enabled: true
    route: /security/update
    method: GET
  securityAll:
    enabled: true
    route: /security/all
    method: GET
  securitySearch:
    enabled: true
    route: /security/search
    method: GET
  securityGet:
    enabled: true
    route: /security/get
    method: GET
  stockBuy:
    enabled: true
    route: /stock/buy
    method: GET
  stockSell:
    enabled: true
    route: /stock/sell
    method: GET
  stockDividendAdd:
    enabled: true
    route: /stock/dividend/add
    method: GET
  stockDividendsStock:
    enabled: true
    route: /stock/dividend/stock
    method: GET
  stockSplit:
    enabled: true
    route: /stock/split
    method: GET
  stockSummary:
    enabled: true
    route: /stock/summary
    method: GET
  stockInventories:
    enabled: true
    route: /stock/inventories
    method: GET
  stockInventiryLedgers:
    enabled: true
    route: /stock/inventory/ledgers
    method: GET
  mutualFundBuy:
    enabled: true
    route: /mf/buy
    method: GET
  mutualFundSell:
    enabled: true
    route: /mf/sell
    method: GET
  mutualFundAdd:
    enabled: true
    route: /mf/add
    method: GET
  mutualFundSummary:
    enabled: true
    route: /mf/summary
    method: GET
  mutualFundInventory:
    enabled: true
    route: /mf/inventory
    method: GET
  mutualFundTransaction:
    enabled: true
    route: /mf/transaction
    method: GET

store:
  database:
    host: #encrypted value
    port:  #encrypted value
    username:  #encrypted value
    password:  #encrypted value
    name: test
    prefix: pm_
  cache:
    heap:
      enabled: true
      max_capacity: 2000
      expiry: 3600